<p id="notice"><%= notice %></p>

<div class='container'>

    <% @tweets.each do |tweet| %>
    <div class='col'>
      <div class="card border-info mb-3">
                   
          <div class="card-header bg-info text-white font-weight-bold">
            <%=tweet.title%>
          </div>
          
          <div class="card-body text-secondary">
              <div class="card col-md-9">
                  <div class="card-body">
                      <h5 class="card-title"></h5>
                      <p class="card-text"><%=tweet.content%></p>   
                  </div>
              </div>
            <br>          
            <%= link_to 'Show', tweet, class:'btn btn-info text-right' %>
            <%= link_to 'Edit', edit_tweet_path(tweet), class: 'btn btn-info text-right' %>
            <%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-info text-right' %>
          </div>
      </div>
      </div>
    <% end %>
</div>
<br>


